# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.idea

# Environment variables
.env


# Secrets
creds/
bottle-caps-firebase.json

*.DS_Store
.mypy_cache/

# Unit test / coverage reports
.coverage
.cache

# Django stuff:
*.log
*.pot

# Visual tests
visual/result/*
visual/animations/*

# Script analyze
temporal/analyze.py

# Test DB
database/*

# links
*.lnk

# certs
*.pem

# temporal
temporal/*